A completed status for a  Meal Cycle is that the #6 final glucose reading is input by the user.  This means that a preprandial and a final #6 glucose reading meets the minimum  criteria for a "completed" status. It does not matter whether glucose readings #1-#4 have been missed or recorded. So a Meal Cycle with a preprandial and #6 final glucose reading is completed status and can nvever be canceled, active or abandoned assigned status.